*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
.logo{
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 20px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 15vh;
    padding: 5px 5px;
    align-items: center;
}

.nav-ul {
    display: flex;
    gap: 80px;
    flex-direction: row;
    padding: 20px;
}

.nav-ul li{
  list-style: none;
}

.nav-ul li a{
    text-decoration: none;
    color: white;
}

main{
    height: 90vh;
    /* background-color: red; */
    background-image: url("/static/images/5532930.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:100px;
}
#mainDiv{
    width: 80vw;
    height: 50vh;
    background-color:rgba(0, 0, 0, 0.372);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 10px;
    margin: 0px auto;
    border-radius: 20px;
}

#mainDivInUserPage{
    width: 80vw;
    /* height: 50vh; */
    background-color:rgba(0, 0, 0, 0.372);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 10px;
    margin: 0px auto;
    border-radius: 20px;
    color: white;
}
#mainDivInUserPage h1{
    font-size: 50px;
    margin: 20px 0px;
}
.category{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;


}
.categorydiv{
    width: 300px;
    height: 100px;
    border: 2px solid white;
    /* background-color: white; */
}
.para{
    font-size: 40px;
    margin: 20px 0px;

}
.games{
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.btn_user{
    width: 100px;
    background-color: cyan;
    border-radius: 10px;
    padding: 10px 5px;
    margin: 10px auto;
}
.imgDiv{
    /* width: 100px; */
 /* background-color: cadetblue; */
 width: 50%;
 /* background-color: white; */
 padding: 10px;
 border-radius: 50%;

}
.imgDiv img{
    width: 200px;
    position: relative;
    top: 20%;
    left: 108px;
}
.infoDiv{
    /* background-color: chartreuse; */
    width: 50%;
}

.table{
    font-size: 30px;
    color: white;
    padding: 10px 10px;
    
}
.table p{
    margin: 10px 0px;
    padding-bottom: 20px;
}
.table input{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid white;
    padding: 10px 0px;
    width: 100%;
    /* box-shadow: 1px 1px 2px white; */
    /* border-radius: 10px; */


}
.table input:hover{
    /* border: 2px solid cyan; */
    /* transition: all 0.5ms; */
}
.table button{
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0);
    width: 100px;
    background-color: rgba(255, 255, 255, 0.007);
    color: white;
    padding: 10px 10px;
    box-shadow: 2px 2px 2px white;
}

footer{
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}