/* 
========================================
    General
========================================
*/

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  background-color: #f5f5f5;
  margin: 0 !important; /* removes margin from quiztitleadmin */
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:active {
  color: inherit;
}

button {
  appearance: none;
  border: none;
  font-size: inherit;
}

/* 
========================================
    Base Template
========================================
*/

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 50px;
  background-color: #414143;
  color: #fff;
}

.nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav li {
  font-size: 14px;
}

#nav__my-page::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 25px;
  translate: -1px -2px;
  background-image: url(../images/my-page.png);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

#nav__settings::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 25px;
  translate: -1px -2px;
  background-image: url(../images/settings.png);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

#nav__profile {
  width: 160px;
  padding: 15px 0;
  background: var(--sea-500, #264af4);
  text-align: center;
}

#nav__profile::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  translate: -6px -1px;
  background-image: url(../images/settings.png);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

#nav__profile::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  translate: 1px -1px;
  background-image: url(../images/dropdown.png);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  transition: 0.3s;
}

.nav__dropdown {
  display: none;
  position: absolute;
  width: 160px;
  top: 65px;
  list-style-type: none;
}

#nav__profile:hover .nav__dropdown {
  display: block;
  transition: 0.3s;
}

#nav__profile:hover::after {
  transform: rotate(180deg);
  transition: 0.3s;
}

.dropdown__item {
  position: relative;
  padding: 10px 20px;
  text-align: left;
  background-color: rgb(7, 47, 74);
}

.dropdown__item:hover {
  background-color: #999;
  transition: 0.3s;
}

#sp__hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 20px;
  cursor: pointer;
  z-index: 9999;
}

#sp__hamburger span {
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background-color: #414143;
}

.footer p {
  color: #fff;
}

/* 
========================================
    Quiz Page (Detail)
========================================
*/

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.breadcrumb {
  margin: 32px 0 50px;
  font-size: 12px;
}

.backlink {
  display: block;
  margin: 40px 0 100px;
}

.backlink a {
  font-size: 16px;
  color: #949497;
  text-decoration: underline;
}

.quiz__title {
  font-size: 20px;
  margin-bottom: 30px;
}

.quiz__wrapper {
  position: relative;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgba(216, 216, 219, 0.25);
  background-color: #fff;
}

.quiz__question {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 40px 40px 12px 40px;
  border-bottom: 3px solid #d8d8d8;
}

.quiz__question--number {
  font-size: 22px;
}

.quiz__question--order {
  flex-basis: 100%;
  text-align: center;
  color: #949497;
}

.quiz__answer {
  display: flex;
  flex-direction: column;
  padding: 0;
}

input[type='radio'] {
  width: 0;
  opacity: 0;
  position: fixed;
}

.quiz__answer--input {
  display: flex;
  flex-direction: column;
}

.quiz__answer--input label {
  padding: 40px 80px;
  border-bottom: 1px solid #d8d8d8;
  transition: 0.3s;
}

.quiz__answer--input label:last-child {
  border-bottom: 3px solid #d8d8d8;
}

.quiz__answer--input label:hover {
  background-color: #264af4;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.quiz__answer--input input[type='radio']:checked + label {
  background-color: #264af4;
  color: #fff;
}

.quiz__submit,
.quiz__retry {
  display: flex;
  padding: 40px;
  align-items: center;
  justify-content: center;
}

#correct-feedback {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-image: url(/static/images/correct.png);
  background-position: center;
  background-repeat: no-repeat;
}

#incorrect-feedback {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-image: url(/static/images/incorrect.png);
  background-position: center;
  background-repeat: no-repeat;
}

.quiz__button {
  width: 180px;
  height: 50px;
  border-radius: 5px;
  background-color: #414143;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.quiz__button:hover {
  background-color: #264af4;
  transition: 0.3s;
}

/* 
========================================
    Quiz Page (Result)
========================================
*/

.quiz__result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 40px;
}

.result__title h1 {
  font-size: 40px;
  line-height: 1.2;
  padding-bottom: 20px;
}

.result__score {
  text-align: right;
}

.result__score--big {
  font-size: 96px;
  color: #1d8b56;
  padding: 60px 0 35px 60px;
}

.result__score hr {
  margin: 0;
  padding-bottom: 20px;
}

.quiz__scoresheet {
  flex-basis: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.scoresheet__single {
  width: 160px;
  height: 60px;
  background-color: #e8e8eb;
}

.scoresheet__single--number {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #949497;
  color: #fff;
}

/* 
========================================
    Mobile Styles 
========================================
*/

@media screen and (max-width: 800px) {
  #sp__hamburger {
    display: flex;
  }

  .nav {
    flex-direction: column;
    position: absolute;
    gap: 0;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    text-align: center;
    background: #414143;
    z-index: 99;
    transition: 0.3s;
  }

  .nav li {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #fff;
  }

  .nav li:last-child {
    border-bottom: none;
  }

  #nav__my-page::before,
  #nav__settings::before,
  #nav__profile::before,
  #nav__profile::after {
    background-image: none;
    width: 0;
    height: 0;
  }

  #nav__profile {
    background: none;
    width: 100%;
    padding: 20px 0;
  }

  #nav__profile:hover .nav__dropdown {
    display: none;
  }

  .nav.active {
    top: 80px;
    transform: translateY(0%);
  }

  #sp__hamburger.active span:nth-child(1) {
    transform-origin: 80%;
    transform: rotate(-45deg);
  }

  #sp__hamburger.active span:nth-child(2) {
    transform-origin: 80%;
    transform: rotate(45deg);
  }
}
