<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/images/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <img src="/static/images/quiz.png" alt="" class="logo" />
        <div class="navbar-div">
          <ul class="nav-ul">
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">MORE</a></li>
            <li><a href="#">CONTACT-US</a></li>
            <li><a href="/login">LOGIN</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div id="mainDivAdmin">
        <div id="userpara"><p>Hello, User</p></div>
        <div class="adminData">
          <p>Name:Omar Shaikh</p>
          <p>Age:22 years old</p>
          <p>Email:omarshaikh508@gmail.com</p>
          <p>Contact-Us:9999999999</p>
        </div>
        <button class="btn_admin">
          <a href="ulist">View all users</a>
        </button>
      </div>
    </main>
    <footer>
      <div><p>copyright</p></div>
    </footer>
  </body>
</html>
