<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>アニメ検定</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style_detail.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/quiztitleadmin.css') }}"
    />
  </head>
  <body>
    {% include 'header.html' %} {% block content %}{% endblock %}{%
    include'footer.html' %}
  </body>
</html>
