<header>
  <nav class="header__nav">
    <a href="/"
      ><img
        src="/static/images/logo.png"
        alt=""
        class="header__logo"
        width="50%"
    /></a>
    <ul class="nav">
      <li id="nav__my-page"><a href="./userpage">マイページ</a></li>
      <li id="nav__settings"><a href="">個人設定</a></li>
      <li id="nav__profile">
        <a href=""
          >{% if session.id %} {{ session.uname.upper() }} {% endif %}</a
        >
        <ul class="nav__dropdown">
          <li class="dropdown__item"><a href="">ゲストログイン</a></li>
          <li class="dropdown__item"><a href="">個人設定</a></li>
          <li class="dropdown__item"><a href="./logout">サインアウト</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
