<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/images/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {%include "navbar.html"%}
    <main>
      <div id="mainDiv">
        <div class="imgDiv"><img src="/static/images/quiz.png" alt="" /></div>
        <div class="infoDiv">
          <form method="POST" action="adduser">
            <table class="table">
              <thead>
                <tr>
                  <th><p>Create Account:</p></th>
                </tr>
              </thead>

              <!-- <tr>
                        
                        <td><input placeholder="Id" type="text" name="id" id=""></td>
                    </tr> -->
              <tr>
                <td>
                  <input placeholder="Name" type="text" name="name" id=""  />
                </td>
              </tr>
              <tr>
                <td>
                  <input placeholder="Email" type="text" name="email" id=""  />
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    placeholder="Password"
                    type="password"
                    name="password"
                    id=""
                    style="color: white; padding-left: 10px;"
                  />
                </td>
              </tr>
              <tr>
                <td><button>Submit</button></td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </main>
    <footer>
      <div><p>copyright</p></div>
    </footer>
  </body>
</html>
