<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="/static/css/privacypolicy.css">
</head>
<body>
    {% extends 'base.html' %}{% block content %}
    <main class="privacypolicy">
        <h2>Privacy Policy</h1>
        <p>
            Anime Kentei shall handle the personal information posted or registered on this website with utmost care in accordance with Japanese laws and regulations related to the protection of personal information, among other standards.
        </p>
        <section>
            <h3>Collection of Personal Information</h3>
            <p>Anime Kentei collects information voluntarily provided by users of various services we offer and individuals involved in the evaluation and selection processes related to our business, to the extent necessary. When collecting personal information, we will generally specify the purpose and rely on the consent of the provider.</p>
        </section>
        <section>
            <h3>Prohibition of Disclosure and Provision of Personal Information to Third Parties</h3>
            <p>
            Anime Kentei will appropriately manage the personal information provided and will not disclose it to third parties unless it falls under one of the following circumstances:
                <ul>
                    <li>- When required by legal provisions</li>
                    <li>- When there is consent from the provider themselves</li>
                    <li>- When it is necessary for our business within a certain scope</li>
                </ul>
            </p>
        </section>
        <section>
            <h3>Management of Personal Information</h3>
            <p>We make efforts to properly manage the collected personal information.</p>
        </section>
        <section>
            <h3>Disclosure and Correction of Personal Information</h3>
            <p>Anime Kentei will promptly disclose personal information about the provider when a request for disclosure of personal information concerning themselves is received, as a general rule. Also, when there is a request for correction or other actions related to personal information about the provider, we will carry out such actions without delay.</p>
        </section>
        <section>
            <h3>Changes to the Privacy Policy</h3>
            <p>Anime Kentei may revise the Privacy Policy without prior notice. When any revisions to the Privacy Policy are made, we will promptly post them on the website operated by our company.</p>
        </section>
    </main>
    {% endblock %}
</body>
</html>