{% extends 'base.html' %} {% block content %}
<main>
  <div class="breadcrumb">
    <a href="./">マイページ</a> >
    <a href="./">{{ title }}</a>
  </div>
  <h1 class="quiz__title">{{ title }}</h1>

  <div class="quiz__wrapper">
    <div class="quiz__question">
      <span class="quiz__question--number">Q{{ qid }}</span>
      <p class="quiz__question--text">{{ question }}</p>
      <p class="quiz__question--order">{{ qid }} / {{ total_qns }}</p>
    </div>

    <form method="POST" id="quiz-form" class="quiz__answer">
      <div class="quiz__answer--input">
        {% for option in options %}
        <input
          type="radio"
          name="user_answer"
          value="{{ option }}"
          id="opt_{{ loop.index }}"
        />
        <label
          for="opt_{{ loop.index }}"
          class="{% if option == answer %}correct{% endif %}"
          >{{ option }}</label
        >
        {% endfor %}
      </div>
      <div class="quiz__submit">
        <button type="submit" id="submit-button" class="quiz__button">
          回答する
        </button>
      </div>
    </form>

    <div class="quiz__feedback">
      <div id="correct-feedback"></div>
      <div id="incorrect-feedback"></div>
    </div>
  </div>

  <div class="backlink">
    <a href="./">マイページに戻る</a>
  </div>
</main>

<script>
  const quizData = JSON.parse('{{ current_quiz|tojson|safe }}');
</script>
<script src="/static/js/quiz.js"></script>

{% endblock %}
