{% extends 'base.html' %} {% block content %}
<head>
  <link rel="stylesheet" href="/static/css/quiztop2.css" />
</head>
<main>
  <!-- <h2>カテゴリー</h2>
    <ul class="category__list category__list--one pc__only">
        <a href="./Quiz.html">
            <li class="category__list__item category__list--one">忍者ハットリくん</li>
        </a>
        <a href="#">
            <li class="category__list__item category__list--two">クレヨンしんちゃん</li>
        </a>
        <a href="#">
            <li class="category__list__item category__list--three">ドラゴンボール</li>
        </a>
    </ul>
    <ul class="category__list category__list--two pc__only">
        <a href="#">
            <li class="category__list__item category__list--four">ワンピース</li>
        </a>
        <a href="#">
            <li class="category__list__item category__list--five">ナルト</li>
        </a>
        <a href="#">
            <li class="category__list__item category__list--six">デスノート</li>
        </a>
    </ul>

    <ul class="category__list category__list__three sp__only">
        <a href="#">
            <li class="category__list__item category__list--five">忍者ハットリくん</li>
        </a>
        <a href="#">
            <li class="category__list__item category__list--six">クレヨンしんちゃん</li>
        </a>
        <a href="#">
        <li class="category__list__item category__list--five">ドラゴンボール</li>
        </a>
        <a href="#">
            <li class="category__list__item category__list--six">ワンピース</li>
        </a>
        <a href="#">
            <li class="category__list__item category__list--five">ナルト</li>
        </a>
        <a href="#">
            <li class="category__list__item category__list--six">デスノート</li>
        </a>
    </ul> -->

  <!-- <div class="challengedQuiz">
        <h2>Quizzes you have tried</h2>
        <ul class="challengedQuiz__list">
            <li class="challengedQuiz__list--one">Date</li>
            <li class="challengedQuiz__list--two">Title</li>
            <li class="challengedQuiz__list--three">Number of times</li>
            <li class="challengedQuiz__list--four">Rate</li>
        </ul>
    </div>
    <div class="challengedQuiz__moreView">
        {% for history in user_history %}
        <ul class="challengedQuiz__list">
            <a href="#">
                <li class="challengedQuiz__list--one">{{history[4]}}</li>
            </a>
            <a href="#" class="challengedQuiz__list--two">
                <li class="challengedQuiz__list--two">{{history[2]}}</li>
            </a>
            <a href="#">
                <li class="challengedQuiz__list--three">2</li>
            </a>
            <a href="#" class="challengedQuiz__moreView__list--four">
                <li class="challengedQuiz__list--four">{{history[3]}}</li>
            </a>
        </ul>
        {% endfor %}
    </div> -->
  <div class="challengedQuiz">
    <h2>Quizzes you have tried</h2>
    <table>
      <tr class="challengedQuiz__list">
        <td class="challengedQuiz__list--one">Date</td>
        <td class="challengedQuiz__list--two">Title</td>
        <td class="challengedQuiz__list--three">Score</td>
      </tr>
      {% for history in user_history %}
      <tr class="challengedQuiz__moreView">
        <td class="challengedQuiz__list--one">
          {% set formatted_date = history[4].strftime("%Y-%m-%d")%}
          {{formatted_date}}
        </td>
        <td class="challengedQuiz__list--two">{{history[6]}}</td>
        <td class="challengedQuiz__list--three">{{history[3]}} %</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <h2>All Quizzes</h2>
  <div class="allQuiz flex">
    {% for quiz in quiz_all %}
    <div class="allQuiz__container">
      <div class="flex">
        <img src="static/{{quiz[3]}}" alt="{{quiz[1]}}" />
        <p class="Ninzyahattori__title__text allQuiz__title__text">
          {{quiz[1]}}
        </p>
      </div>
      <hr />
      <!-- <p class="Ninzyahattori__text allQuiz__text">Ninja Hattori-kun," a very popular national animation in India. 
                The questions include basic questions such as the names and ages of the characters in Ninja Hattori-kun.
            </p> -->
      <div class="moreInfo">
        <a class="moreInfo_text" href="/quiz?quiz_id={{quiz[0]}}">PLAY QUIZ</a>
      </div>
    </div>
    {% endfor %}
    <!-- <div class="allQuiz__container">
            <div class="flex">
                <img src="./img/allPloblem__Kureyonsintyan.png" alt="クレヨンしんちゃん">
                <p class="allQuiz__title__text">クレヨンしんちゃん【基礎】</p>
            </div>
            <hr>
            <p class="allQuiz__text">インドで大人気の国民的アニメ「クレヨンしんちゃん」
                問題としては、クレヨンしんちゃんの登場人物の名前や
                年齢など基礎的な問題が出題される。
            </p>
            <div class="moreInfo">
                <a class="moreInfo_text" href="#">MORE INFO</a>
            </div>
        </div>
        <div class="allQuiz__container">
            <div class="flex">
                <img src="./img/allPloblem__DragonballZ.png" alt="ドラゴンボール">
                <p class="allQuiz__title__text">ドラゴンボール【基礎】</p>
                <hr>
            </div>
            <p class="allQuiz__text">インドで大人気の国民的アニメ「ドラゴンボール」
                問題としては、ドラゴンボールの登場人物の名前や
                年齢など基礎的な問題が出題される。
            </p>
            <div class="moreInfo">
                <a class="moreInfo_text" href="#">MORE INFO</a>
            </div>
        </div>
        <div class="allQuiz__container">
            <div class="flex">
                <img src="./img/allPloblem__Onepeace 1.png" alt="ワンピース">
                <p class="allQuiz__title__text">ワンピース【基礎】</p>
                <hr>
            </div>
            <p class="allQuiz__text">インドで大人気の国民的アニメ「ワンピース」
                問題としては、ワンピースの登場人物の名前や
                年齢など基礎的な問題が出題される。
            </p>
            <div class="moreInfo">
                <a class="moreInfo_text" href="#">MORE INFO</a>
            </div>
        </div>
        <div class="allQuiz__container">
            <div class="flex">
                <img src="./img/allQuiz__Naruto.png" alt="ナルト">
                <p class="allQuiz__title__text">NARUTO【基礎】</p>
                <hr>
            </div>
            <p class="allQuiz__text">インドで大人気の国民的アニメ「NARUTO」
                問題としては、NARUTOの登場人物の名前や
                年齢など基礎的な問題が出題される。
            </p>
            <div class="moreInfo">
                <a class="moreInfo_text" href="#">MORE INFO</a>
            </div>
        </div>
        <div class="allQuiz__container">
            <div class="flex">
                <img src="./img/allQuiz__DeathNote.png" alt="デスノート">
                <p class="allQuiz__title__text">Death Note【基礎】</p>
                <hr>
            </div>
            <p class="allQuiz__text">インドで大人気の国民的アニメ「Death Note」
                問題としては、クレヨンしんちゃんの登場人物の名前や
                年齢など基礎的な問題が出題される。
            </p>
            <div class="moreInfo">
                <a class="moreInfo_text" href="#">MORE INFO</a>
            </div>
        </div> -->
  </div>
</main>

{% endblock %}
