{% extends 'base.html' %} {% block content %}
<main>
  <div class="breadcrumb">
    <a href="./quiztop">マイページ</a> >
    <a href="./">{{ title }}</a>
  </div>
  <h1 class="quiz__title">{{ title }}</h1>

  <div class="quiz__wrapper">
    <div class="quiz__result">
      <div class="result__title">
        <h1>{{ title }}</h1>
        <span>受験回数 {{ total_attempts }} 回</span>
      </div>
      <div class="result__score">
        <p class="result__score--big">{{ result }}%</p>
        <hr />
        <p>{{ score }}問正解 / {{ total_questions }}問中</p>
      </div>
      <div class="quiz__scoresheet">
        {% for x in range(0, total_questions) %}
        <div class="scoresheet__single">
          <div class="scoresheet__single--number">{{loop.index}}</div>
          {% if scoresheet[x] == "1" %}
          <img src="../static/images/correct.png" width="30px" height="30px" />
          {% elif scoresheet[x] == "0" %}
          <img
            src="../static/images/incorrect.png"
            width="30px"
            height="30px"
          />
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="quiz__retry">
    <button
      onclick="location.href='{{ url_for('clear_quiz_session', quiz_id=quiz_id) }}'"
      class="quiz__button"
    >
      リトライ
    </button>
  </div>

  <div class="backlink">
    <a href="./quiztop">マイページに戻る</a>
  </div>
</main>
<footer></footer>

{% endblock %}
