<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {%include "navbar.html"%}
    <main>
        <div id="mainDiv">
            <form method="POST" action="adduser">
                <table class="table">
                    <tr>
                        <td>Id</td>
                        <td><input type="text" name="id" id=""></td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td><input type="text" name="name" id=""></td>
                    </tr>
                    <tr>
                        <td>email</td>
                        <td><input type="text" name="email" id=""></td>
                    </tr>
                    <tr>
                        <td>password</td>
                        <td><input type="password" name="password" id=""></td>
                    </tr>
                    <tr>
                        <td><input type="submit"></td>
                        <td><input type="reset"></td>
                    </tr>
                </table>
            </form>
                </div>
    </main>
    <footer>
        <div><p>copyright</p></div>
    </footer>
</body>
</html>
</body>
</html>