<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/images/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {%include "navbar.html"%}
    <main>
      <div id="mainDiv">
        <div class="imgDiv"><img src="/static/images/quiz.png" alt="" /></div>
        <div class="infoDiv">
          <form method="POST" action="updateuserdata">
            <table class="table">
              <thead>
                <tr>
                  <th><p>update user:</p></th>
                </tr>
              </thead>

              <tr>
                <td colspan="2">
                  <input
                    placeholder="Id"
                    type="text"
                    value="{{d[0]}}"
                    name="id"
                    id=""
                    readonly
                  />
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input
                    placeholder="Name"
                    type="text"
                    value="{{d[1]}}"
                    name="name"
                    id=""
                  />
                </td>
              </tr>
              
              <tr>
                <td colspan="2">
                  <input
                    placeholder="Email"
                    type="text"
                    value="{{d[2]}}"
                    name="email"
                    id=""
                  />
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input
                    placeholder="Password"
                    type="password"
                    value="{{d[3]}}"
                    name="password"
                
                  />
                </td>
              </tr>
              {%if d[4]==0%}
              <tr>
                <td style="font-size: 20px;">Admin</td>
                <td><input style="position: relative; right: 110px; bottom: 5px;" type="checkbox" name="uadmin"></td>
              </tr>
              {%else%}
              <tr>
                <td style="font-size: 20px;">Admin</td>
                <td><input style="position: relative; right: 110px; bottom: 5px;" type="checkbox" checked name="uadmin" ></td>
              </tr>
              {%endif%}
              <tr>
                <td colspan="2"><button>Submit</button></td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </main>
    <footer>
      <div><p>copyright</p></div>
    </footer>
  </body>
</html>
