<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/images/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <img src="/static/images/quiz.png" alt="" class="logo" />
        <div class="navbar-div">
          <ul class="nav-ul">
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">MORE</a></li>
            <li><a href="#">CONTACT-US</a></li>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/ulist">USER-LIST</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div id="mainDivInUserPage">
        <h1>Hello User</h1>
        <!-- <div class="category">
          <div class="categorydiv">c1</div>
          <div class="categorydiv">c2</div>
          <div class="categorydiv">c3</div>
        </div> -->
        <div class="para"><p>wanna play, click the button below</p></div>
        <div class="games">
          <div class="gameBox">
            <p>One Piece</p>
            <p>
              "One Piece" is a Japanese anime and manga series created by
              Eiichiro Oda. It follows the adventures of Monkey D. Luffy and his
              crew, the Straw Hat Pirates, as they search for the legendary
              treasure known as the "One Piece" to become the Pirate King. The
              story is set in a world of pirates, powerful foes, and mysterious
              islands, and revolves around themes of friendship, loyalty, and
              the pursuit of dreams. Since its debut in 1999, "One Piece" has
              become one of the most popular and longest-running anime and manga
              series worldwide.Throughout their journey, the Straw Hat Pirates
              face various challenges, formidable enemies, and uncover the
              secrets of the Grand Line. The series is known for its captivating
              storytelling, well-developed characters, and epic battles that
              have captured the hearts of fans across generations.
            </p>
            <button class="btn_user">Play</button>
          </div>
          <div class="gameBox">
            <p>Attack on Titan</p>
            <p>
              "Attack on Titan" (Shingeki no Kyojin) is a Japanese anime and
              manga series by Hajime Isayama, set in a world where humanity
              struggles for survival against giant humanoid creatures known as
              Titans. The story follows Eren Yeager, Mikasa Ackerman, and Armin
              Arlert as they join the military to combat the Titans after their
              hometown is devastated. Eren's ability to transform into a Titan
              makes him a crucial asset in the fight. The series captivates
              audiences with its gripping action, intricate plot, and character
              development, gradually unveiling the mysteries surrounding the
              Titans and the history of their world. Since its debut in 2009 as
              a manga and 2013 as an anime, "Attack on Titan" has garnered
              immense acclaim and a dedicated global fanbase.
            </p>
            <button class="btn_user">Play</button>
          </div>
          <!-- <div class="gameBox"><button class="btn_user">Play</button></div>
          <div class="gameBox"><button class="btn_user">Play</button></div> -->
        </div>
      </div>
    </main>
    <footer>
      <div><p>copyright</p></div>
    </footer>
  </body>
</html>
