<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/images/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {%include "navbar.html"%}
    <main>
      <div id="mainDivInUserPage">
        <h1>Hello {{session.uname.upper()}}</h1>
        <div class="para"><p>wanna play, click the button below</p></div>
        <div class="games">
          <div class="gameBox">
            <p>One Piece</p>
            <p>
              "One Piece" is a Japanese anime and manga series created by
              Eiichiro Oda. It follows the adventures of Monkey D. Luffy and his
              crew, the Straw Hat Pirates, as they search for the legendary
              treasure known as the "One Piece" to become the Pirate King. The
              story is set in a world of pirates, powerful foes, and mysterious
              islands, and revolves around themes of friendship, loyalty, and
              the pursuit of dreams. Since its debut in 1999, "One Piece" has
              become one of the most popular and longest-running anime and manga
              series worldwide.Throughout their journey, the Straw Hat Pirates
              face various challenges, formidable enemies, and uncover the
              secrets of the Grand Line. The series is known for its captivating
              storytelling, well-developed characters, and epic battles that
              have captured the hearts of fans across generations.
            </p>
            <button class="btn_user"><a href="/quiztop">Play</a></button>
          </div>
          
          <!-- <div class="gameBox"><button class="btn_user">Play</button></div>
          <div class="gameBox"><button class="btn_user">Play</button></div> -->
        </div>
      </div>
    </main>
    <footer>
      <div><p>copyright</p></div>
    </footer>
  </body>
</html>
